.first{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.block{
    margin-top: 0px;
    margin: auto;
    margin-right: 200px;
    margin-left: 200px;
    color:black;
    background-color: #a4de9f;
    overflow: hidden;
}
body{
background-color: #f7f5f0;
margin: 0px;
}
p{
    font-size: larger;
    padding-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    float: right;
    margin: 7px 7px 7px 0;
    border-radius: 5px;
   
}
em{
    color: #554545;
}
.glava{
    background-color: green;
    height: 80px;
   margin: 0px;
   width: 100%;
  display: inline-block;
   
}
.left{
    float: left;
    position: relative;
    top: 78%;
    left: 4%;
}
.right{
    float: right;
    position: relative;
    top: 78%;
    right:4% ;
}
button{
    border-radius:3px ;
    background-color:#f7f5f0 ;
    border:none;
    width: 120px;
    height: 20px;

}
h6{
    float: right;
    margin: 0px;
    position: relative;
    bottom: 15%;
}
@media (max-width:940px) {
    .block{
        margin-right: 75px;
        margin-left: 75px;
    }
    p{
        font-size: small ;
        padding-left: 3px;
    }
    img{
        margin: 3px 3px 3px 0;
        border-radius: 3px;
       
    }
    .first{
        font-size: large;
        
       
    }
    .glava{ 
        height: 70px;
    }
}
@media(max-width:500px){
    .block{
        margin-right: 30px;
        margin-left: 30px;
    }
    p{
        font-size:x-small;
        padding-left: 2px;
        padding-right: 2px;
    }
    img{
        margin: 2px 2px 2px 0;
        border-radius: 2px;
       float: none;
       width:100%;
    }
    .first{
        font-size: small;
        
       
    }
    .glava{ 
        height: 60px;
    }
    button{
        border-radius:3px ;
        width: 60px;
        height: 20px;
        font-size: x-small;
        cursor: pointer;
    }
    .left{
        left: 0%;
    }
    .right{
        right:0% ;
    }
}




















